{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene acceso, logeate con una que si tenga.</p>
    {% else %}
    <p>Por favor logeate para ver esta pagina.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class="m-3">
{% csrf_token %}

<div class="fs-4 m-2">
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div class="fs-4 m-2">
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>


<p>¿No tienes una cuenta? <a href="{% url 'registro' %}">Registrate ya </a></p>

{% endblock %}